# Discord Auth
DISCORD_API_KEY=<YOUR_DISCORD>
DISCORD_CLIENT_ID=<YOUR_
DISCORD_CLIENT_SECRET=<YOUR_CLIENT>
DISCORD_REDIRECT_URI=<YOUR_REDIRECT_URI>

# Postgres credentials
POSTGRES_USER=<YOUR_POSTGRES_USER_HERE>
POSTGRES_PASSWORD=<YOUR_POSTGRES_PASSWORD_HERE>
POSTGRES_DB=<YOUR_POSTGRES_DB_HERE>
POSTGRES_HOST=<YOUR_POSTGRES_HOST_HERE>
POSTGRES_PORT=<YOUR_POSTGRES_PORT_HERE>

# Compose DATABASE_URL using Postgres info
DATABASE_URL=postgresql+psycopg2://${POSTGRES_USER}:${POSTGRES_PASSWORD}@${POSTGRES_HOST}:${POSTGRES_PORT}/${POSTGRES_DB}
LAVALINK_URI=ws://192.168.100.150:2333
LAVALINK_PASSWORD=123

FLASK_SECRET_KEY="thebestsoundbot"
FASTAPI_BASE_URL="http://127.0.0.1.:5000"

# Postgres credentials
POSTGRES_USER=music_admin
POSTGRES_PASSWORD=123
POSTGRES_DB=music_db
POSTGRES_HOST=localhost
POSTGRES_PORT=5432

# Compose DATABASE_URL using Postgres info
DATABASE_URL=postgresql+psycopg2://${POSTGRES_USER}:${POSTGRES_PASSWORD}@${POSTGRES_HOST}:${POSTGRES_PORT}/${POSTGRES_DB}
