DISCORD_API_KEY=<YOUR_DISCORD_API_KEY_HERE>
LAVALINK_URI=<YOUR_LAVALINK_URI_HERE>
LAVALINK_PASSWORD=<YOUR_LAVALINK_PASSWORD_HERE>

# Postgres credentials
POSTGRES_USER=<YOUR_POSTGRES_USER_HERE>
POSTGRES_PASSWORD=<YOUR_POSTGRES_PASSWORD_HERE>
POSTGRES_DB=<YOUR_POSTGRES_DB_HERE>
POSTGRES_HOST=<YOUR_POSTGRES_HOST_HERE>
POSTGRES_PORT=<YOUR_POSTGRES_PORT_HERE>

# Compose DATABASE_URL using Postgres info
DATABASE_URL=postgresql+psycopg2://${POSTGRES_USER}:${POSTGRES_PASSWORD}@${POSTGRES_HOST}:${POSTGRES_PORT}/${POSTGRES_DB}
